YUI(yuiconfig).use('gallery-itsamessagecontroller', function(Y) {
    var model, container, containercontent;

    var mycontroller = new Y.ITSAMessageController();
    mycontroller.showMessage('hoi');
    Y.later(5000, null, function() {mycontroller.showMessage('hoi2');});
    Y.later(8000, null, function() {
        var item = mycontroller.queue.item(1);
        item.resolvePromise();
    });

});
