yuiconfig.lang = 'es';

YUI(yuiconfig).use('gallery-itsadialog', function(Y) {
Y.one('body').addClass('yui3-skin-sam');

    Y.alert('Este es Y.alert()');

    Y.confirm('Este es Y.confirm: Estas de acuerdo?').then(
        function() {
            console.log('acordado');
        },
        function() {
            console.log('desacuerdo');
        }
    );

    Y.prompt('Este es Y.promt():introducir alguna entrada').then(
        function(response) {
            console.log(response.input);
        },
        function() {
            console.log('cancelas');
        }
    );

});
