<button id='btnShowMessage' type='button' class='pure-button itsabutton-bordered'>Add message</button> --> Y.showMessage('this is message '+countinfo)<br />
<button id='btnShowWarning' type='button' class='pure-button itsabutton-bordered'>Add warning</button> --> Y.alert('this is warning '+countwarn)<br />
<button id='btnShowError' type='button' class='pure-button itsabutton-bordered'>Add error</button> --> Y.showError('this is error '+counterror)<br />
<div id='customBar'></div>