<button id='loaddata1' type='button' class='pure-button itsabutton-bordered'>Load model 1</button> --> Takes 3 seconds<br>
<button id='loaddata2' type='button' class='pure-button itsabutton-bordered'>Load model 2</button> --> Can be done simultaniously. Also takes 3 seconds<br>
<button id='loaddata3' type='button' class='pure-button itsabutton-bordered'>Load model 3</button> --> Can be done simultaniously. Also takes 3 seconds