YUI(yuiconfig).use('node', 'gallery-itsastatusbar', 'model', 'gallery-itsamodelsyncpromise', 'promise', 'gallerycss-itsa-base', function(Y) {

    // 'gallerycss-itsa-base' is loaded to give the pure-buttons a border
    var countrymodel1, countrymodel2,
        loadbutton1 = Y.one('#loaddata1'),
        loadbutton2 = Y.one('#loaddata2'),
        mystatusbar = new Y.ITSAStatusbar({textTransform: 'lowercase'});

    mystatusbar.handleModelSync();

    Y.CountryModel = Y.Base.create('countryModel', Y.Model, [], {
        syncPromise: function(action, options) {
            if (action==='read') {
                // simulating loaddelay through Y.later:
                return new Y.Promise(function (resolve, reject) {
                    Y.later(
                        3000,
                        null,
                        function() {
                            resolve({Country: "Netherlands"});
                        }
                    );
                });
            }
            // do not forget to reject the promise in case an invalid 'action' is defined
            return new Y.Promise(function (resolve, reject) {
                reject(new Error('The syncPromise()-method was is called with undefined action: '+action));
            });
        }
    });

    countrymodel1 = new Y.CountryModel();
    countrymodel2 = new Y.CountryModel();

    // to show differencies between the 2 models, we set a 'non-default' syncmessage for countrymodel2:
    countrymodel2.setSyncMessage('load', '2nd countrymodel is loading...');

    loadbutton1.on(
        'click',
        function(e) {
            countrymodel1.load();
        }
    );

    loadbutton2.on(
        'click',
        function(e) {
            countrymodel2.load('oeps');
        }
    );

});
