<button id='btnShowMessage' type='button' class='pure-button itsabutton-bordered'>Add message to statusbar</button> --> Y.showMessage('this is message '+countinfo)<br />
<button id='btnShowWarning' type='button' class='pure-button itsabutton-bordered'>Add warning to statusbar</button> --> Y.alert('this is warning '+countwarn)<br />
<button id='btnShowError' type='button' class='pure-button itsabutton-bordered'>Add errormessage to statusbar</button> --> Y.showError('this is error '+counterror)<br />
<button id='btnShowStatus' type='button' class='pure-button itsabutton-bordered'>Add statusmessage to statusbar</button> --> Y.showStatus('this is statusmessage '+countwarn+' will only last for 3 seconds')