<button id='btnLoadModel1' type='button' class='pure-button itsabutton-bordered'>Load Model 1</button> --> status shown on bottom-statusbar<br />
<button id='btnLoadModel2' type='button' class='pure-button itsabutton-bordered'>Load Model 2</button> --> status shown on custom-statusbar<br />
<div id='customBar'></div>