<button id='btnLoadModel1' type='button' class='pure-button itsabutton-bordered'>Load Model 1</button> --> status shown on bottom-statusbar<br />
<button id='btnLoadModel2' type='button' class='pure-button itsabutton-bordered'>Load Model 2</button> --> status shown on first custom-statusbar with dynamic text<br />
<button id='btnLoadModel3' type='button' class='pure-button itsabutton-bordered'>Load Model 3</button> --> status shown on second custom-statusbar with custom text<br />
<div id='customBar2'></div>
<div id='customBar3'></div>