YUI(yuiconfig).use('node', 'gallery-itsastatusbar', 'model', 'gallery-itsamodelsyncpromise', 'promise', 'gallerycss-itsa-base', function(Y) {

    // 'gallerycss-itsa-base' is loaded to give the pure-buttons a border
    var mystatusbar1 = new Y.ITSAStatusbar(),
        mystatusbar2 = new Y.ITSAStatusbar({parentNode: '#customBar2'}),
        mystatusbar3 = new Y.ITSAStatusbar({parentNode: '#customBar3'}),
        btnLoadModel1 = Y.one('#btnLoadModel1'),
        btnLoadModel2 = Y.one('#btnLoadModel2'),
        btnLoadModel3 = Y.one('#btnLoadModel3'),
        count = 0,
        countrymodel1, countrymodel2, countrymodel3;

    mystatusbar1.handleModelSync();

    Y.CountryModel = Y.Base.create('countryModel', Y.Model, [], {
        syncPromise: function(action, options) {
            if (action==='read') {
                // simulating loaddelay through Y.later:
                return new Y.Promise(function (resolve, reject) {
                    Y.later(
                        3000,
                        null,
                        function() {
                            resolve({Country: "Netherlands"});
                        }
                    );
                });
            }
            // do not forget to reject the promise in case an invalid 'action' is defined
            return new Y.Promise(function (resolve, reject) {
                reject(new Error('The syncPromise()-method was is called with undefined action: '+action));
            });
        }
    });

    countrymodel1 = new Y.CountryModel();
    countrymodel2 = new Y.CountryModel();
    countrymodel3 = new Y.CountryModel();
    countrymodel2.addMessageTarget(mystatusbar2);
    countrymodel3.addMessageTarget(mystatusbar3);

    countrymodel3.setSyncMessage('load', 'I am loading as well...');

    btnLoadModel1.on(
        'click',
        function() {
            // use default syncmessage
            countrymodel1.load();
        }
    );

    btnLoadModel2.on(
        'click',
        function() {
            // use custom syncmessage per load-request
            countrymodel2.load({syncmessage: 'I am loading for the '+(++count)+'th time...'});
        }
    );

    btnLoadModel3.on(
        'click',
        function() {
            countrymodel3.load();
        }
    );

});
