<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.2.1/pure-min.css">
<style type="text/css">
    .pure-button-api {
        float: right;
        position: relative;
        left: 300px;
        top: -43px;
        width: 245px;
        font-size: 18px;
        background: -moz-linear-gradient(center top , #F5F5F5 0px, #EFEFEF 50%, #E5E5E5 51%, #DFDFDF 100%) repeat scroll 0 0 transparent;
        border: 1px solid #E9E9E9;
        border-radius: 3px 3px 3px 3px;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
        font-weight: bold;
        padding: 4px 13px 3px;
        text-align: center;
        text-shadow: 1px 1px 0 #FFFFFF;
        white-space: nowrap;
    }
    .pure-button-api:hover {
        background: -moz-linear-gradient(center top , #6396D8 0px, #5A83BC 50%, #547AB7 51%, #466899 100%) repeat scroll 0 0 transparent;
        border-color: #466899;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
        color: #FFFFFF;
        text-decoration: none;
        text-shadow: 1px 1px 0 #222222;
    }
</style>
<a class="pure-button pure-button-api" href="http://localhost:5000/api/modules/gallery-itsanodepromise.html">API Docs</a>