/*csslint adjoining-classes: false, star-property-hack: false */

.itsa-dialog fieldset:first-child {
    margin-top: 0.8em;
}

.itsa-dialog fieldset.itsa-input,
.itsa-dialog fieldset.itsa-number {
    text-align: right;
    padding-right: 0.1em;
}

.itsa-dialog textarea.itsa-input {
    width: 250px;
    height: 100px;
}

.itsa-dialog input.itsa-input {
    width: 200px;
}

.itsa-dialog input.itsa-number {
    width: 6em;
    text-align: right;
}