/*csslint adjoining-classes: false, star-property-hack: false */

.itsa-mapmarker-container {
    position:relative;
    left:0;
    top:0;
    z-index:10;
}

.itsa-mapmarker {
    position:absolute;
}

.itsa-markerballoon {
    border-radius: 50%;
    text-align: center;
    min-width: 0.8em;
    padding: 0.35em 0.6em 0.25em;
    font-size: 80%;
    color: #000;
    background-color: #0F0;
}

.itsa-markerpin {
    border-left: 2px solid rgba(0, 0, 0, 0);
    border-right: 2px solid rgba(0, 0, 0, 0);
    border-top: 12px solid #555;
    left: 50%;
    margin-left: -2px;
    top: 0;
    height: 0;
    width: 0;
    position: relative;
}

.its-markerlabel-balloon {
    border-left: 5px solid #000000;
    border-top: 5px solid rgb(0, 0, 0);
    border-top: 5px solid rgba(0, 0, 0, 0);
    border-bottom: 5px solid rgb(0, 0, 0);
    border-bottom: 5px solid rgba(0, 0, 0, 0);
    left: 0;
    margin-left: -5px;
    margin-top: -3px;
    top: 50%;
    height: 0;
    width: 0;
}

.itsa-mapmarker-container.small .itsa-markerballoon,
.itsa-mapmarker-container .itsa-markerballoon.small,
.itsa-mapmarker-container.large .itsa-markerballoon.small,
.itsa-mapmarker-container.extralarge .itsa-markerballoon.small {
    font-size: 64%;
}

.itsa-mapmarker-container .itsa-markerballoon.normal,
.itsa-mapmarker-container.small .itsa-markerballoon.normal,
.itsa-mapmarker-container.large .itsa-markerballoon.normal,
.itsa-mapmarker-container.extralarge .itsa-markerballoon.normal {
    font-size: 80%;
}

.itsa-mapmarker-container.large .itsa-markerballoon,
.itsa-mapmarker-container .itsa-markerballoon.large,
.itsa-mapmarker-container.small .itsa-markerballoon.large,
.itsa-mapmarker-container.extralarge .itsa-markerballoon.large {
    font-size: 100%;
}

.itsa-mapmarker-container.extralarge .itsa-markerballoon,
.itsa-mapmarker-container .itsa-markerballoon.extralarge,
.itsa-mapmarker-container.small .itsa-markerballoon.extralarge,
.itsa-mapmarker-container.large .itsa-markerballoon.extralarge {
    font-size: 150%;
}

.itsa-mapmarker-container.red .itsa-markerballoon,
.itsa-mapmarker-container .itsa-mapmarker.red .itsa-markerballoon {
    color: #000;
    background-color: #F00;
}

.itsa-mapmarker-container.blue .itsa-markerballoon,
.itsa-mapmarker-container .itsa-mapmarker.blue .itsa-markerballoon {
    color: #000;
    background-color: #00F;
}