<button class="pure-button pure-button-border"><i class="itsaicon-datetime-date"></i></button>
<button class="pure-button pure-button-border"><i class="itsaicon-datetime-time"></i></button>
<button class="pure-button pure-button-border"><i class="itsaicon-datetime-datetime"></i></button>