<button class="pure-button pure-button-datetime"><i class="itsaicon-datetime-date"></i></button>
<button class="pure-button pure-button-datetime"><i class="itsaicon-datetime-time"></i></button>
<button class="pure-button pure-button-datetime"><i class="itsaicon-datetime-datetime"></i></button>
<button class="pure-button"><i class="itsaicon-form-save"></i></button>
