{{>api-button}}

<div class="intro">
  <p>This module adds three static Y.Node methods to the Y.Node class.</p>
</div>

{{>getting-started}}

<h2>Description</h2>

<p>
   When rendered through javascript, an extra hidden html-checkbox is created with <b>id='checkbox_'+parentNode.get('id')</b>. This way,
   you can send the checkbox using forms that use serialization.
</p>

<h3 id="nodeavailablepromise-example">Example Y.Node.availablePromise()</h3>
```
YUI({gallery: 'gallery-2013.07.03-22-52'}).use('node', 'gallery-itsacheckbox', function(Y) {

    var mycheckbox = new Y.ITSACheckBox().render();

});
```
