{{>api-button}}

<div class="intro">
  <p>This module adds three static Y.Node methods to the Y.Node class.</p>
</div>

{{>getting-started}}

<h2>Description</h2>

<p>
   By loading this module, Y.Node extends with 3 static methods:
</p>

<h3 id="nodeavailablepromise-example">Example Y.Node.availablePromise()</h3>
```
YUI({gallery: 'gallery-2013.07.03-22-52'}).use('node', 'gallery-itsacheckbox', function(Y) {

    var mycheckbox = new Y.ITSACheckBox().render();

});
```
