<div class="intro">
    <p>
       {{description}}
   </p>
</div>

<h2>Complete Example Source</h2>
```
{{>rendering-from-script-js}}
```
<script>
{{>init-loaderconfig-js}}
{{>loaderconfig-js}}
{{>rendering-from-script-js}}
</script>