<div class="intro">
    <p>
       {{description}}
   </p>
</div>

<h2>Complete Example Source</h2>
```
{{>using-different-labels-js}}
```
<script>
{{>init-loaderconfig-js}}
{{>loaderconfig-js}}
{{>using-different-labels-js}}
</script>