.viewcont {
    height: 260px;
    margin-bottom: 20px;
}
.smallcol {
    width: 1px;
}
.bell {
    color: #FF0;
    text-shadow: 1px 1px #000, -1px 1px #000, 1px -1px #000, -1px -1px #000;
}
.bell .itsaicon-special-bell:before {
    color: #D00;
    text-shadow: none;
}