YUI(yuiconfig).use('node-base', 'node-screen', function(Y) {
    Y.use('gallerycss-itsa-base', 'gallerycss-itsa-special');

    var votes = Y.one('#votes'),
        currentvote = 0;

    votes.on(
        'click',
        function(e) {
            var mousex = e.pageX,
                votex = votes.getX(),
                x = mousex - votex,
                newvote = Math.floor(x/76) + 1;
            votes.removeClass('itsaicon-special-starrating-'+currentvote+'-5');
            currentvote = (currentvote!==newvote) ? newvote : 0;
            votes.addClass('itsaicon-special-starrating-'+currentvote+'-5');
        }
    );
});