<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.2.1/pure-min.css">
<style type="text/css">
{{>using-renderonavailablepromise-repeat-css}}
</style>

<div class="intro">
    <p>
        {{description}}
    </p>
    <p>
        The Y.Calendar instance is declared and set to render each time the srcNode gets into the DOM yet. To insert and remove the srcNode,
        you must click on the buttons. Every time srcNode is inserted, the Calendar-instance will render immediatly.
        <br />
        <br />
        <b>Note:</b> The Calendarinstance must nto be destroyed: just the srcNode removed from the DOM. If the Calendarinstance
        would be destroyed, <code>stayalive</code> will end.
    </p>
</div>

{{>using-renderonavailablepromise-repeat-html}}

<h2>Complete Example Source</h2>
```
<style type="text/css">
{{>using-renderonavailablepromise-repeat-css}}
</style>

<body>

{{>using-renderonavailablepromise-repeat-html}}

<script>
{{>using-renderonavailablepromise-repeat-js}}
</script>

</body>
```

<script>
{{>init-loaderconfig-js}}
{{>loaderconfig-js}}
{{>using-renderonavailablepromise-repeat-js}}
</script>