/*csslint adjoining-classes: false, star-property-hack: false */

.itsa-widget-parent {
    display: inline-block;
    *display: inline;
    padding: 0;
    vertical-align: middle;
}

.itsa-invisible {
    visibility: hidden !important;
}
/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Modern browser will hide even without this css
 * Known issue: no IE 6 support.
 */
[hidden],
label[hidden],
.pure-form [hidden] {
    display: none !important;
}

form [data-changed] {
    background-color: #FF0;
}

label[data-labeldatetime][data-changed] {
    background-color: transparent;
}

.pure-button.pure-button-datetime {
    padding: 0.5em 0.5em;
}

.itsa-icondate, .itsa-icontime, .itsa-icondatetime {
    display: inline-block;
    *display: inline;
    min-height: 16px;
    width: 20px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 0 -2px;
    vertical-align: middle;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAUCAMAAADImI+JAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAMBQTFRFsbGx1tbWlJSUiYmJ9PT0eXl5dXV1fX190dHR4eHhxsbGrKysurq6tLS0p6en+Pj4TExMQ0NDnJycampqycnJ5ubmcHBwoaGhqampmZmZ8vLywsLCZ2dnkpKSVlZWbW1tRUVF6OjomJiYPT09YWFhwMDAvLy8gYGBtra25OTkWlpahYWF6+vr/Pz8QUFBpaWl7+/vqqqq6urqXV1d/f39vr6+pKSkr6+vj4+P7e3tzMzM4uLi+/v7QEBA////////zCR2qgAAAEB0Uk5T////////////////////////////////////////////////////////////////////////////////////AMJ7sUQAAAFtSURBVHjanJJZc4IwEIC5AkggGBTkqhde9SIIgqK0//9fNRCgPtp+M7v7kG92drLLfb8J9zcxEZOX0jEorxvNzn7FXAj5UKDUJe+0Y4E8YelNkkUv3gKRE68UWoJb1y6xBMFbCoLl8p0o6mAIDAotusg8Ai2Ki+qM7FbcGgut5CGEsRcb28bLNjBGKNf1HKHY3WRMBPDDsj7iBggaUQ0KjjMMtSyM3W431tqOXy+wjtxYD/SJUlj7aTo7JGsmKtmpJ1MaMVDX4h7PJ9YcUyrYik/TvVkmTab5ZKIWT+k7VhZDXFXnCLUzmpIkHViYbEauFqoKb/NaxDoTZYmowCCEAEIkuRHLWSNW2HFo41XQiv7lchmx8JmYoejMzP2wirwTEx1i23xq22ma2sRpFyi3Js1h9+GjOx8COGi4j7oVyhU+U3A0C7oVrvxjj7/qjuKRhziKcOp99kcBpi+A/sqygZYg7WH+63Df4EeAAQDjjY0+09WtywAAAABJRU5ErkJggg==');
    *background-image: url('datetime.png');
 }

.itsa-icondatetime {
    width: 40px;
}

.itsa-icontime {
    background-position: -20px -1px;
}

/* adjusting colors for tipsy */
.yui3-tipsy.tipsy-formelement {
    background-color: #30418C;
    color: #F0F1F8;
}
.yui3-tipsy.tipsy-formelement .yui3-widget-pointer-left {
    border-right-color: #30418C;
}
.yui3-tipsy.tipsy-formelement-invalid {
    background-color: #F00;
    color: #F0F1F8;
}
.yui3-tipsy.tipsy-formelement-invalid .yui3-widget-pointer-left {
    border-right-color: #F00;
}
/* end adjusting colors for tipsy */

.pure-form span[data-formelement="true"] {
    font-size: 90%;
    vertical-align: top;
    margin: 0.15em 0;
    display: inline-block;
    *display: inline;
}

div.itsa-widget-parent + label[data-widgetlabel="true"],
label[data-widgetlabel="true"] + div.itsa-widget-parent,
div.itsa-widget-parent + span.formatvalue,
span.formatvalue + div.itsa-widget-parent,
button[data-datetimepicker="true"] + span.formatvalue,
span.formatvalue + button[data-datetimepicker="true"],
input[type="radio"][data-formelement="true"] + span.formatlabel,
span.formatlabel + input[type="radio"][data-formelement="true"],
input[type="checkbox"][data-formelement="true"] + span.formatlabel,
span.formatlabel + input[type="checkbox"][data-formelement="true"] {
    margin-left: 0.5em;
}

.pure-form-aligned .pure-control-group label[data-labeldatetime="true"] {
    text-align: left;
}

.pure-form input:focus[data-valid="false"],
.pure-form textarea:focus[data-valid="false"] {
    color: #b94a48;
    border: 1px solid #ee5f5b;
}

.pure-form input:focus[data-valid="false"]:focus,
.pure-form textarea:focus[data-valid="false"]:focus {
    border-color: #e9322d;
}

.pure-form.pure-form-showinvalid input[data-valid="false"],
.pure-form.pure-form-showinvalid textarea[data-valid="false"] {
    /* with markup false */
    background-repeat: no-repeat;
    background-position: 98% center;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAUpJREFUeNpivBIUxEAJYMIhngnEB4D4PxLeBcQJhAxQhGqcBsT2aHKuQDwfiLcDsTQ2A3SB+CqyRmY+PgYmDg4wjQQ8gPgSEKsgG8AGxOuAmBNZJYugIAOPlRUDm7g4usuFgHg1yA6YAckwE5EBt64ug2x2NgOPtTW2cDIA4kCYAVF4g5qREZdMAhOS/zHA70+fGP7+B0bA16+4DNCFGcCPTfbv+/cMf37+ZPj98SMuA/hhBrzGJvsHaMCHrVsZfj16hMuA1zADLmNNZcAo/PvlC8N/3GFwGWbAAmyyXJqaDJLx8Qx85ua4DJgLM2AZEJ/FCMQXLxi+XL7M8OvhQ2yaDwLxVkakzARKxseAWAIl+kCxAKMRABQoJshhAAL3gRjk1uNwEZgmVM37oOrAAc+C5iyQyVZA7A3NeYrQNAIK5JvQsNqNrAEgwAAO6VaUCoOyHgAAAABJRU5ErkJggg==);
    *background-image: url(invalid.png);
}

.pure-form.pure-form-showinvalid input[data-valid="false"]:focus,
.pure-form.pure-form-showinvalid textarea[data-valid="false"]:focus {
    /* no markup */
    background-image: none;
}

.pure-form.pure-form-showvalid input[data-valid="true"],
.pure-form.pure-form-showvalid textarea[data-valid="true"] {
    /* with markup true */
    background-repeat: no-repeat;
    background-position: 98% center; /* tried to use 'right 3px center', but safari doesn't take that */
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAASdJREFUeNpiibkQzEAJYMIhngnEB4D4PxI+ABXHa4AiVOE0ILZHk7OHih+AqgMDFiQFckB8Hoj5CbjaHqpOD4gfIbtgPhGaYYAfqh7uhVggdiIx/EDqY2EGJBBS3SFXxNAqm4sunAAzwBif5na5AgYJbisGZkZ2dCljkAHM6H5frL+GYbb6QjC7VTabQZrPhuH518MMFY96MMICZMBfIH6NLBp7MQQo+J1hoc4aBhl+R4YnHw8xVD6aiM1xr2FeuIkuk3Ezg+Hnnw8Mzz4eZah6PAmX727C0sFcILZBl027kUIobOfCXLAYiC+QGI0g9YthBoDCIRQ9LPCA11D1f5FT4h0gtiLCJReg6u5gy0wgQUMgjgbiTUD8FCr+FMqPhsrfgWkACDAAdeFJlrFXYEcAAAAASUVORK5CYII=);
    *background-image: url(valid.png);
}

.pure-form.pure-form-showvalid input[type="text"],
.pure-form.pure-form-showvalid input[type="password"],
.pure-form.pure-form-showvalid input[type="email"],
.pure-form.pure-form-showvalid input[type="url"],
.pure-form.pure-form-showvalid textarea {
    padding-right: 22px;
}

.pure-form-stacked div.itsa-widget-parent + label[data-widgetlabel="true"],
.pure-form-stacked label[data-widgetlabel="true"] + div.itsa-widget-parent,
.pure-form-stacked div.itsa-widget-parent + span.formatvalue,
.pure-form-stacked span.formatvalue + div.itsa-widget-parent,
.pure-form-stacked button[data-datetimepicker="true"] + span.formatvalue,
.pure-form-stacked span.formatvalue + button[data-datetimepicker="true"],
.pure-form-stacked .itsa-widget-parent {
    display: block;
    clear: both;
    margin: 0.25em 0;
}

/* overrule pure-css its valid marking, because pattern validation sucks: better be done by [data-valid]; */
.pure-form-aligned textarea[data-formelement="true"],
.itsa-widget-parent[data-type="editorBase"] {
    vertical-align: top;
}

/* overrule pure-css its valid marking, because pattern validation sucks: better be done by [data-valid]; */
.pure-form.pure-form-showinvalid input:focus:invalid[data-valid="true"],
.pure-form.pure-form-showinvalid textarea:focus:invalid[data-valid="true"],
.pure-form.pure-form-showinvalid input:focus:invalid:focus[data-valid="true"],
.pure-form.pure-form-showinvalid textarea:focus:invalid:focus[data-valid="true"] {
    color: #000;
    border-color: #129FEA;
}

/* overrule pure-css its valid marking, because pattern validation sucks: better be done by [data-valid]; */
.pure-form input:focus[data-valid="false"],
.pure-form textarea:focus[data-valid="false"] {
    color: #b94a48;
    border: 1px solid #ee5f5b;
}
.pure-form input:focus[data-valid="false"]:focus,
.pure-form textarea:focus[data-valid="false"]:focus {
    border-color: #e9322d;
}