<div class="intro">
    <p>
        <b>{{description}}</b>
    </p>
    <p>
        You should use <a href="http://gallerydocs.itsasbreuk.nl/gallery-itsaformmodel/index.html">gallery-itsaformmodel</a> instead, which is the improved version of gallery-itsaeditmodel.
    </p>
</div>

<h3>licence</h3>
<p>
    Copyright (c) 2013 <a href="http://itsasbreuk.nl">Its Asbreuk</a>
</p>
<p>
    <a href="http://developer.yahoo.com/yui/license.html">YUI BSD License</a>
</p>
