<style type="text/css">
{{>index-css}}
</style>

<div class="intro">
    <p>
    {{description}}
    </p>
</div>

{{>getting-started}}

<h2>Description</h2>
<p>By adding this module, you have some classnames at your proposal, which can be used to create icons. The css only works if you define an empty <code>i-element</code> and add the right class to it. Typically the icons are inside a <code>button-element</code> but this is not required.
</p>
<p>
    Be aware of the load-delay. Iconfonts-modules have are relative big-sized. To speed up initial loading, it is advizable to load the css-modules in a second separate Y.use() statement without a callback.
</p>

<h2>Available iconclasses</h2>
    <ul>
        <li><i class="itsaicon-music-backward"></i> <code>itsaicon-music-backward</code></li>
        <li><i class="itsaicon-music-backward-round"></i> <code>itsaicon-music-backward-round</code></li>
        <li><i class="itsaicon-music-forward"></i> <code>itsaicon-music-forward</code></li>
        <li><i class="itsaicon-music-forward-round"></i> <code>itsaicon-music-forward-round</code></li>

        <li class="newgroup"><i class="itsaicon-music-headphones"></i> <code>itsaicon-music-headphones</code></li>
        <li><i class="itsaicon-music-headphones2"></i> <code>itsaicon-music-headphones2</code></li>
        <li><i class="itsaicon-music-headphones3"></i> <code>itsaicon-music-headphones3</code></li>
        <li><i class="itsaicon-music-headphones4"></i> <code>itsaicon-music-headphones4</code></li>

        <li class="newgroup"><i class="itsaicon-music-note"></i> <code>itsaicon-music-note</code></li>
        <li><i class="itsaicon-music-note2"></i> <code>itsaicon-music-note2</code></li>
        <li><i class="itsaicon-music-note3"></i> <code>itsaicon-music-note3</code></li>
        <li><i class="itsaicon-music-note4"></i> <code>itsaicon-music-note4</code></li>
        <li><i class="itsaicon-music-note5"></i> <code>itsaicon-music-note5</code></li>
        <li><i class="itsaicon-music-note6"></i> <code>itsaicon-music-note6</code></li>
        <li><i class="itsaicon-music-note7"></i> <code>itsaicon-music-note7</code></li>
        <li><i class="itsaicon-music-note8"></i> <code>itsaicon-music-note8</code></li>

        <li class="newgroup"><i class="itsaicon-music-pause"></i> <code>itsaicon-music-pause</code></li>
        <li><i class="itsaicon-music-pause-round"></i> <code>itsaicon-music-pause-round</code></li>
        <li><i class="itsaicon-music-play"></i> <code>itsaicon-music-play</code></li>
        <li><i class="itsaicon-music-play-round"></i> <code>itsaicon-music-play-round</code></li>
        <li><i class="itsaicon-music-record-round"></i> <code>itsaicon-music-record-round</code></li>
        <li><i class="itsaicon-music-stop"></i> <code>itsaicon-music-stop</code></li>
        <li><i class="itsaicon-music-stop-round"></i> <code>itsaicon-music-stop-round</code></li>

        <li class="newgroup"><i class="itsaicon-music-to-end"></i> <code>itsaicon-music-to-end</code></li>
        <li><i class="itsaicon-music-to-first"></i> <code>itsaicon-music-to-first</code></li>
        <li><i class="itsaicon-music-to-last"></i> <code>itsaicon-music-to-last</code></li>
        <li><i class="itsaicon-music-to-start"></i> <code>itsaicon-music-to-start</code></li>

        <li class="newgroup"><i class="itsaicon-music-volume"></i> <code>itsaicon-music-volume</code></li>
        <li><i class="itsaicon-music-volume-down"></i> <code>itsaicon-music-down</code></li>
        <li><i class="itsaicon-music-volume-off"></i> <code>itsaicon-music-off</code></li>
        <li><i class="itsaicon-music-volume-up"></i> <code>itsaicon-music-up</code></li>

        <li class="newgroup"><i class="itsaicon-music-itunes"></i> <code>itsaicon-music-itunes</code></li>
        <li><i class="itsaicon-music-soundcloud"></i> <code>itsaicon-music-soundcloud</code></li>
    </ul>

<h2>Usage</h2>
```html
<button><i class="itsaicon-music-itunes"></i></button>
```

```js
YUI(yuiconfig).use('yui-base', function(Y) {
    Y.use('gallerycss-itsa-base', 'gallerycss-itsa-music'); // now the iconfonts will load asynchroniously

    // code can be executed
    ...

});
```
<h3>Changing size</h3>
<p>Iconfonts are handled as regular characters. The font size is detemined by the calculated font-size value of the element. To change the icon-size, you need to change the font-size.
</p>
<p>
The iconfont has its definition inside <code>.itsaicon-iconname:before</code>. You can set a fontsize here, or at a ancestor-node, depending what needs to be set.
</p>
```css
button {
    font-size: 120%;
}
itsaicon-music-itunes:before {
    font-size: 150%;
}
```

<h3>Changing color</h3>
<p>Iconfonts are handled as regular characters. The iconcolor is detemined by the calculated color-value of the element. To change the icon-color, you need to change the color of the icon.
</p>
<p>
The icon-color has its definition inside <code>.itsaicon-iconname:before</code>. You can set a color here, or at a ancestor-node, depending what needs to be set.
</p>
```css
button {
    color: #F00;
}
itsaicon-music-itunes:before {
    color: #0F0;
}
```
<h2>Creating imagebuttons (purecss compatible)</h2>
    <p>
        Imagebuttons can be created by creating a button and add an empty <code>i-element</code> inside. To be sure the space arround the iconfont gets right, you need to add the right classname to the button as well.
    </p>
    <p>
        These iconfonts work perfectly well with pure-css. So you can add the class <code>pure-button</code> to the button-element. But you don't need to.
    </p>

<h3>Iconbuttons without text</h3>
```html
<button<i class="itsaicon-music-itunes"></i></button>
```

<h3>Textbuttons with a left-icon</h3>
```html
<button class="itsabutton-iconleft"><i class="itsaicon-music-itunes"></i>itunes</button>
```

<h3>Textbuttons with a right-icon</h3>
```html
<button class="itsabutton-iconright">itunes<i class="itsaicon-music-itunes"></i></button>
```

<script>
{{>init-loaderconfig-js}}
{{>loaderconfig-js}}
{{>index-js}}
</script>