<div class="intro">
    <p>
       {{description}}
   </p>
</div>

{{>itsacheckboxgroup-with-itsaviewmodel-css}}

{{>itsacheckboxgroup-with-itsaviewmodel-html}}

<h2>Complete Example Source</h2>
```
{{>itsacheckboxgroup-with-itsaviewmodel-css}}

<body>
{{>itsacheckboxgroup-with-itsaviewmodel-html}}
</body>

<script>
{{>itsacheckboxgroup-with-itsaviewmodel-js}}
</script>
```
<script>
{{>init-loaderconfig-js}}
{{>loaderconfig-js}}
{{>itsacheckboxgroup-with-itsaviewmodel-js}}
</script>