YUI(yuiconfig).use('gallery-itsadialog', function(Y) {
Y.one('body').addClass('yui3-skin-sam');

    Y.getInput({
        imageButtons: true,
        textarea: false,
        required: true,
        formconfig: {
            label: 'Enter your name: ',
            placeholder: 'your name'
        },
        validator: function(val) {return (typeof val === 'string') && (val.length>1)},
        validationerror: 'Please enter a valid name'
    }).then(
        function(result) {
            console.log('resultaat '+result.input);
        },
        function(err) {
alert('error '+err);
            Y.soon(function () {
                throw err;
            });
        }
    );

    Y.getInput({
        imageButtons: true,
        textarea: true,
        required: true,
        formconfig: {
            label: 'Enter your name: ',
            placeholder: 'your name'
        },
        validator: function(val) {return (typeof val === 'string') && (val.length>1)},
        validationerror: 'Please enter a valid name'
    }).then(
        function(result) {
            console.log('resultaat '+result.input);
        }
    );

});
