YUI(yuiconfig).use('gallery-itsalogin', 'promise', 'gallery-itsaerrorreporter', 'gallery-itsadialog', function(Y) {

    Y.login('Login', 'Please enter login', {
        imageButtons: true,
        regain: 'usernameorpassword',
        formconfigUsername: {
//            placeholder: 'gebruikersnaam'
        },
        formconfigPassword: {
//            placeholder: 'wachtwoord'
        }
    }, function(action) {
        return new Y.Promise(function (resolve, reject) {
//            reject(new Error('no syncPromise defined'));
            Y.later(
                2000,
                null,
                function() {
                    resolve({
                        status: 'CHANGEPASSWORD',
                        title: 'retry please',
                        message: 'second attempt'
                    });
                }
            );
        });
    }).then(
        function(result) {
            console.log('Eerste bericht fulfilled '+result.username+' | '+result.password+' | '+result.remember+' | '+result.button);
        },
        function(reason) {
            console.log('Eerste bericht rejected '+reason);
        }
    );
/*
Y.later(4000, null, function() {
    Y.alert('Alert').then(
        null,
        function(reason) {
            console.log('Error Y.showError '+reason);
        }
    );
});
    Y.showWarning('Warning').then(
        null,
        function(reason) {
            console.log('Error Y.showError '+reason);
        }
    );
*/
    Y.showMessage('Message').then(
        function(response) {
            console.log('Message resolved '+response.button);
        },
        function(reason) {
            console.log('Error Y.showError '+reason);
        }
    );
/*
    Y.showError('Error').then(
        null,
        function(reason) {
            console.log('Error Y.showError '+reason);
        }
    );
*/

});
