YUI(yuiconfig).use('node', 'gallery-itsacheckbox', function(Y) {

    var mycheckbox = new Y.ITSACheckBox({srcNode: '#mycheckbox'}).render();
    mycheckbox.focus();
Y.later(3000, null, function(){mycheckbox.set('disabled', true);});
});