<form>
    <label for="xa"><input type="checkbox" id="xa" class="css-checkbox-slider" name="xa"> My checkbox</label><br/>
    <label><input type="checkbox" id="xb" class="css-checkbox-slider" name="xb" CHECKED> My checkbox</label>
</form>
