<style type='text/css'>
    .hide {
        position: absolute;
        left: -9999px;
        top: -9999px;
    }
    .redbg .yui3-itsacheckbox .optionon {
        background-color: #D00;
    }
    .redbg .yui3-itsacheckbox .optionoff {
        background-color: #900;
        color: #FFF;
    }
    .big .yui3-itsacheckbox {
        font-size: 200%;
    }
</style>