<div id="container" class="hide">
    <div id="checkboxColored" class="redbg"></div> Different color<br />
    <div id="checkboxOtherOptions"></div> Other options<br />
    <div id="checkboxChanged" class="redbg big"></div> Different size and color and options
</div>