YUI(yuiconfig).use('node', 'gallery-itsawidgetrenderpromise', 'calendar', 'gallery-itsadialog', function(Y) {

    var cal = new Y.Calendar(),
        insertBtn = Y.one('#insertcal'),
        removeBtn = Y.one('#removecal'),
        sidebar = Y.one('.sidebar');

    cal.renderOnAvailablePromise('#calnode', {stayalive: true, timeout: 2000}).then(
        function() {
            alert('check');
            removeBtn.removeClass('pure-button-disabled');
        },
        function(reason) {
            alert(reason);
            Y.alert(reason); // Y.alert() is provided by 'gallery-itsadialog'
        }
    );

    insertBtn.on(
        'click',
        function() {
            insertBtn.addClass('pure-button-disabled');
            sidebar.append('<div id="calnode" class="yui3-skin-sam"></div>');
        }
    );

    removeBtn.on(
        'click',
        function() {
            removeBtn.addClass('pure-button-disabled');
            cal.destroy();
            sidebar.one('#calnode').remove(true);
            insertBtn.removeClass('pure-button-disabled');
        }
    );

});