<button class="pure-button itsabutton-onlyicon itsabutton-bordered"><i class="itsaicon-filetypes-css"></i></button>
<button class="pure-button itsabutton-onlyicon itsabutton-bordered"><i class="itsaicon-filetypes-excel"></i></button>
<button class="pure-button itsabutton-onlyicon itsabutton-bordered"><i class="itsaicon-filetypes-file"></i></button>
<button class="pure-button itsabutton-onlyicon itsabutton-bordered"><i class="itsaicon-filetypes-libreoffice"></i></button>
<button class="pure-button itsabutton-onlyicon itsabutton-bordered"><i class="itsaicon-filetypes-openoffice"></i></button>
<button class="pure-button itsabutton-onlyicon itsabutton-bordered"><i class="itsaicon-filetypes-pdf"></i></button>
<button class="pure-button itsabutton-onlyicon itsabutton-bordered"><i class="itsaicon-filetypes-powerpoint"></i></button>
<button class="pure-button itsabutton-onlyicon itsabutton-bordered"><i class="itsaicon-filetypes-text"></i></button>
<button class="pure-button itsabutton-onlyicon itsabutton-bordered"><i class="itsaicon-filetypes-word"></i></button>
<button class="pure-button itsabutton-onlyicon itsabutton-bordered"><i class="itsaicon-filetypes-xml"></i></button>
<button class="pure-button itsabutton-onlyicon itsabutton-bordered"><i class="itsaicon-filetypes-zip"></i></button>