<button class="pure-button"><i class="itsaicon-abort"></i>Abort</button>
<button class="pure-button"><i class="itsaicon-cancel"></i>Cancel</button>
<button class="pure-button"><i class="itsaicon-destroy"></i>Destroy</button>
<button class="pure-button"><i class="itsaicon-ignore"></i>Ignore</button>
<button class="pure-button"><i class="itsaicon-load"></i>Load</button>
<button class="pure-button"><i class="itsaicon-no"></i>No</button>
<button class="pure-button"><i class="itsaicon-ok"></i>Ok</button>
<button class="pure-button"><i class="itsaicon-remove"></i>Remove</button>
<button class="pure-button"><i class="itsaicon-reset"></i>Reset</button>
<button class="pure-button"><i class="itsaicon-retry"></i>Retry</button>
<button class="pure-button"><i class="itsaicon-save"></i>Save</button>
<button class="pure-button"><i class="itsaicon-submit"></i>Submit</button>
<button class="pure-button"><i class="itsaicon-yes"></i>Yes</button>