<button class="pure-button itsabutton-iconleft"><i class="itsaicon-controll-add-user"></i>Add user</button>
<button class="pure-button itsabutton-iconleft"><i class="itsaicon-controll-archive"></i>Archive</button>
<button class="pure-button itsabutton-iconleft"><i class="itsaicon-controll-attention"></i>Attention</button>
<button class="pure-button itsabutton-iconleft"><i class="itsaicon-controll-camera"></i>Camera</button>
<button class="pure-button itsabutton-iconleft"><i class="itsaicon-controll-copy"></i>Copy</button>
<button class="pure-button itsabutton-iconleft"><i class="itsaicon-controll-cut"></i>Cut</button>
<button class="pure-button itsabutton-iconleft"><i class="itsaicon-controll-flag"></i>Flag</button>
<button class="pure-button itsabutton-iconleft"><i class="itsaicon-controll-folder"></i>Folder</button>
<button class="pure-button itsabutton-iconleft"><i class="itsaicon-arrows-left"></i>left</button>
<button class="pure-button itsabutton-iconleft"><i class="itsaicon-arrows-left"></i>left</button>
<button class="pure-button itsabutton-iconleft"><i class="itsaicon-arrows-left"></i>left</button>
<button class="pure-button itsabutton-iconleft"><i class="itsaicon-arrows-left"></i>left</button>
<button class="pure-button itsabutton-iconleft"><i class="itsaicon-arrows-left"></i>left</button>
<button class="pure-button itsabutton-iconleft"><i class="itsaicon-arrows-left"></i>left</button>
<button class="pure-button itsabutton-iconleft"><i class="itsaicon-arrows-left"></i>left</button>
<button class="pure-button itsabutton-iconleft"><i class="itsaicon-arrows-left"></i>left</button>
<button class="pure-button itsabutton-iconleft"><i class="itsaicon-arrows-left"></i>left</button>
<button class="pure-button itsabutton-iconleft"><i class="itsaicon-arrows-left"></i>left</button>
<button class="pure-button itsabutton-iconleft"><i class="itsaicon-arrows-left"></i>left</button>
<button class="pure-button itsabutton-iconleft"><i class="itsaicon-arrows-left"></i>left</button>
<button class="pure-button itsabutton-iconleft"><i class="itsaicon-arrows-left"></i>left</button>
<button class="pure-button itsabutton-iconleft"><i class="itsaicon-arrows-left"></i>left</button>
<button class="pure-button itsabutton-iconleft"><i class="itsaicon-arrows-left"></i>left</button>
<button class="pure-button itsabutton-iconleft"><i class="itsaicon-arrows-left"></i>left</button>
<button class="pure-button itsabutton-iconleft"><i class="itsaicon-arrows-left"></i>left</button>
<button class="pure-button itsabutton-iconleft"><i class="itsaicon-arrows-left"></i>left</button>
<button class="pure-button itsabutton-iconleft"><i class="itsaicon-arrows-left"></i>left</button>
<button class="pure-button itsabutton-iconleft"><i class="itsaicon-arrows-left"></i>left</button>
<button class="pure-button itsabutton-iconleft"><i class="itsaicon-arrows-left"></i>left</button>
<button class="pure-button itsabutton-iconleft"><i class="itsaicon-arrows-left"></i>left</button>
<button class="pure-button itsabutton-iconleft"><i class="itsaicon-arrows-left"></i>left</button>
<button class="pure-button itsabutton-iconleft"><i class="itsaicon-arrows-left"></i>left</button>
<button class="pure-button itsabutton-iconleft"><i class="itsaicon-arrows-left"></i>left</button>
<button class="pure-button itsabutton-iconleft"><i class="itsaicon-arrows-left"></i>left</button>
<button class="pure-button itsabutton-iconleft"><i class="itsaicon-arrows-left"></i>left</button>
<button class="pure-button itsabutton-iconleft"><i class="itsaicon-arrows-left"></i>left</button>
<button class="pure-button itsabutton-iconleft"><i class="itsaicon-arrows-left"></i>left</button>
<button class="pure-button itsabutton-iconleft"><i class="itsaicon-arrows-left"></i>left</button>
<button class="pure-button itsabutton-iconleft"><i class="itsaicon-arrows-left"></i>left</button>

.:before { content: '\e81e'; } /* Entypo '' */
.:before { content: '\e822'; } /* Entypo '' */
.:before { content: '\e81a'; } /* Entypo '' */
.:before { content: '\e80e'; } /* Entypo '' */
.:before { content: '\e826'; } /*  Font Awesome'' */
.:before { content: '\e825'; } /* Font Awesome '' */
.:before { content: '\e81b'; } /* Entypo '' */
.:before { content: '\e823'; } /* Entypo '' */
.itsaicon-controll-help:before { content: '\e801'; } /*  Entypo'' */
.itsaicon-controll-home:before { content: '\e81f'; } /* Entypo '' */
.itsaicon-controll-info:before { content: '\e802'; } /* Entypo '' */
.itsaicon-controll-info2:before { content: '\e800'; } /* Entypo '' */
.itsaicon-controll-lock:before { content: '\e803'; } /* Font Awesome '' */
.itsaicon-controll-minus:before { content: '\e819'; } /* Entypo '' */
.itsaicon-controll-minus-round:before { content: '\e829'; } /* Entypo '' */
.itsaicon-controll-movie:before { content: '\e80f'; } /* Font Awesome '' */
.itsaicon-controll-music:before { content: '\e809'; } /* Font Awesome '' */
.itsaicon-controll-paste:before { content: '\e827'; } /* Font Awesome '' */
.itsaicon-controll-pin:before { content: '\e810'; } /* Font Awesome '' */
.itsaicon-controll-plus:before { content: '\e818'; } /* Entypo '' */
.itsaicon-controll-plus-round:before { content: '\e805'; } /* Entypo '' */
.itsaicon-controll-print:before { content: '\e820'; } /* Entypo '' */
.itsaicon-controll-remove:before { content: '\e824'; } /*Modern Pictograms '' */
.itsaicon-controll-search:before { content: '\e828'; } /* Entypo '' */
.itsaicon-controll-settings:before { content: '\e80d'; } /* Entypo '' */
.itsaicon-controll-spin:before { content: '\e815'; } /* Fontelico '' */
.itsaicon-controll-spin2:before { content: '\e817'; } /* Fontelico '' */
.itsaicon-controll-spin3:before { content: '\e811'; } /* Font Awesome '' */
.itsaicon-controll-spin4:before { content: '\e814'; } /* Fontelico '' */
.itsaicon-controll-spin5:before { content: '\e813'; } /* Fontelico '' */
.itsaicon-controll-spin6:before { content: '\e812'; } /* Fontelico '' */
.itsaicon-controll-spin7:before { content: '\e816'; } /* Fontelico '' */
.itsaicon-controll-tools:before { content: '\e821'; } /* Entypo '' */
.itsaicon-controll-unlock:before { content: '\e804'; } /* Font Awesome '' */
.itsaicon-controll-user:before { content: '\e81c'; } /*  Entypo'' */
.itsaicon-controll-users:before { content: '\e81d'; } /* Entypo '' */
.itsaicon-controll-volume-down:before { content: '\e80b'; } /* Font Awesome '' */
.itsaicon-controll-volume-off:before { content: '\e80a'; } /* Font Awesome '' */
.itsaicon-controll-volume-up:before { content: '\e80c'; } /* Font Awesome '' */