YUI(yuiconfig).use('model', 'gallery-itsaeditmodel', 'gallery-itsacheckbox', 'json', function(Y) {
 var model, template, config, alleditproperties;

    model = new Y.Model({
        artist: 'Madonna',
        country: 'USA',
        firstRelease: new Date(1983, 1, 1),
        soldOut: true
    });
    config = {
        artist: {type: 'input'},
        country: {type: 'input'},
        firstRelease: {type: 'date', dateFormat: '%d-%m-%Y'},
        soldOut: {type: Y.ITSACheckbox},
        saveButton: {type: 'save'}
    };
    template = 'The artist name is: {artist}<br />'+
               'Lives in Country: {country}<br />'+
               'First album released: {firstRelease}<br />'+
               'Is sold out: {soldOut}<br />'+
               '{saveButton}';

    model.plug(Y.Plugin.ITSAEditModel);
    alleditproperties = model.itsaeditmodel.toJSON(config);

    container = Y.one('#examplecontainer');
    container.append(Y.Lang.sub(template, alleditproperties));
    container.append('<span class="comment">'+Y.Escape.html(Y.JSON.stringify(alleditproperties))+'</span>');
});
