YUI(yuiconfig).use('escape', 'model', 'gallery-itsaeditmodel', function(Y) {
    var model, savebutton, submitbutton, destroybutton, container;

    Y.MyFormModel = Y.Base.create('pieModel', Y.ITSAEditModel, [], {}, {
        ATTRS: {
            artist: {
                formtype: 'text',
                formconfig: {
                    required: true,
                    disabled: true
                },
                validator: function(v) {return (typeof v==='string');}
            },
            country: {
                formtype: 'text',
                formconfig: {
                    required: true,
                    disabled: true
                },
                validator: function(v) {return (typeof v==='string');}
            },
            firstRelease: {
                formtype: 'date',
                formconfig: {
                    required: true,
                    format: '%Y-%m-%d'
                },
                validator: function(v) {return (typeof v==='date');}
            },
            soldOut: {
                value: false,
                formtype: Y.ITSACheckbox,
                formconfig: {
                    required: true,
                    disabled: true
                },
                validator: function(v) {return (typeof v==='boolean');}
            }
        }
    });

    model = new Y.MyFormModel({
        artist: 'Madonna',
        country: 'USA',
        firstRelease: new Date(1983, 1, 1),
        soldOut: true
    });

    savebutton = model.renderSaveBtn('save model');
    submitbutton = model.renderSubmitBtn();
    destroybutton = model.renderDestroyBtn();

    container = Y.one('#examplecontainer');
    container.append(savebutton);
    container.append(submitbutton);
    container.append(destroybutton);
    container.append('<span class="comment">'+Y.Escape.html(savebutton)+'</span><br />');
    container.append('<span class="comment">'+Y.Escape.html(submitbutton)+'</span><br />');
    container.append('<span class="comment">'+Y.Escape.html(destroybutton)+'</span><br />');

    model.on('save', function() {
        container.append('<span class="comment">model is saved (save-event occured)</edit>');
    });

    model.on('*:destroy', function() {
        container.append('<span class="comment">model is destroyed (destroy-event occured)</edit>');
    });

    model.on('*:submit', function() {
        container.append('<span class="comment">model is submitted (submit-event occured)</edit>');
    });

    model.after('saveclick', function(e) {
        container.append('<span class="comment">model:saveclick event occured</edit>');
    });

    model.after('destroyclick', function(e) {
        container.append('<span class="comment">model:destroyclick event occured</edit>');
    });

    model.after('submitclick', function(e) {
        container.append('<span class="comment">model:submitclick event occured</edit>');
    });

});
