<style type="text/css">
/* The rail and end cap images are shared in a sprite.
 * Include the id of the slider container to increase css specificity */
.yui3-skin-sam .itsa-panel .yui3-slider-x .yui3-slider-rail,
.yui3-skin-sam .itsa-panel .yui3-slider-x .yui3-slider-rail-cap-left,
.yui3-skin-sam .itsa-panel .yui3-slider-x .yui3-slider-rail-cap-right {
    background-image: url(http://yui.yahooapis.com/3.13.0/build/slider-base/assets/skins/sam/rail-x.png);
}
</style>