YUI(yuiconfig).use('gallery-itsadialog', function(Y) {
Y.one('body').addClass('yui3-skin-sam');

    Y.getInput({
        imageButtons: true,
        textarea: false,
        formconfig: {
            label: 'Enter your name: ',
            placeholder: 'your name',
            required: true
        },
        validator: function(val) {return (typeof val === 'string') && (val.length>1)},
        validationerror: 'Please enter a valid name'
    }).then(
        function(result) {
            console.log('resultaat '+result.itsamessage.get('input'));
        }
    );

    Y.getInput({
        imageButtons: true,
        textarea: true,
        formconfig: {
            label: 'Enter your name: ',
            placeholder: 'your name',
            required: true
        },
        validator: function(val) {return (typeof val === 'string') && (val.length>1)},
        validationerror: 'Please enter a valid name'
    }).then(
        function(result) {
            console.log('resultaat '+result.itsamessage.get('input'));
        }
    );

});
