YUI(yuiconfig).use('gallery-itsadialog', function(Y) {

    Y.showMessage('nieuwe titel 1', 'Eerste bericht', {
  //      primaryButton: 'imgbtn_ignore',
        imageButtons: true
    }).then(
        function(result) {
            console.log('Eerste bericht fulfilled '+result.button);
        },
        function(reason) {
            console.log('Eerste bericht rejected '+reason);
        }
    );

    Y.getRetryConfirmation('nieuwe titel 2', 'Tweede bericht', {
//        primaryButton: 'imgbtn_retry',
        imageButtons: true
    }).then(
        function(result) {
            console.log('Tweede bericht fulfilled '+result.button);
        },
        function(reason) {
            console.log('Tweede bericht rejected '+reason);
        }
    );

    Y.getRetryConfirmation('nieuwe titel 3', 'Derde bericht', {
//        primaryButton: 'imgbtn_retry',
        imageButtons: true
    }).then(
        function(result) {
            console.log('Derde bericht fulfilled '+result.button);
        },
        function(reason) {
            console.log('Derde bericht rejected '+reason);
        }
    );

    Y.getRetryConfirmation('nieuwe titel 4', 'Vierde bericht', {
//        primaryButton: 'imgbtn_retry',
        imageButtons: true
    }).then(
        function(result) {
            console.log('Vierde bericht fulfilled '+result.button);
        },
        function(reason) {
            console.log('Vierde bericht rejected '+reason);
        }
    );


        Y.showError('nieuwe titel error', 'Error bericht', {
            imageButtons: true
        }).then(
            function(result) {
                console.log('Error bericht fulfilled '+result.button);
            },
            function(reason) {
                console.log('Error bericht rejected '+reason);
            }
        );

        Y.showError('TWEEDE titel error', 'Error bericht', {
            imageButtons: true
        }).then(
            function(result) {
                console.log('TWEEDE Error bericht fulfilled '+result.button);
            },
            function(reason) {
                console.log('TWEEDE Error bericht rejected '+reason);
            }
        );

        Y.showWarning('nieuwe titel warning', 'Warning bericht', {
            imageButtons: true
        }).then(
            function(result) {
                console.log('warning bericht fulfilled '+result.button);
            },
            function(reason) {
                console.log('warning bericht rejected '+reason);
            }
        );

    Y.getRetryConfirmation('nieuwe titel 5', 'Vijfde bericht', {
//        primaryButton: 'imgbtn_retry',
        imageButtons: true
    }).then(
        function(result) {
            console.log('Vijfde bericht fulfilled '+result.button);
        },
        function(reason) {
            console.log('Vijfde bericht rejected '+reason);
        }
    );

    Y.showMessage('nieuwe titel 6', 'Zesde bericht', {
  //      primaryButton: 'imgbtn_ignore',
        imageButtons: true
    }).then(
        function(result) {
            console.log('Zesde bericht fulfilled '+result.button);
        },
        function(reason) {
            console.log('Zesde bericht rejected '+reason);
        }
    );

});
