YUI(yuiconfig).use('gallery-itsadialog', function(Y) {


    YUI.Env.ITSAMessageController.getRetryConfirmation('nieuwe titel 1', 'Errste bericht', {
        imagebuttons: true,
        primarybutton: 'imgbtn_ignore'
    });

    YUI.Env.ITSAMessageController.getRetryConfirmation('nieuwe titel 2', 'Tweede bericht', {
        imagebuttons: true,
        primarybutton: 'imgbtn_retry'
    });

    Y.later(7000, null, function() {
        YUI.Env.ITSAMessageController.showError('nieuwe titel error', 'Error bericht', {
            imagebuttons: true
        });
    });

    Y.later(5000, null, function() {
       // YUI.Env.ITSAMessageController.showWarning('nieuwe titel', 'Warning bericht', {
       //     imagebuttons: true
       // });
    });

});
