YUI(yuiconfig).use('gallery-itsadialog', function(Y) {

    Y.on('newmessage', function(e) {
        console.log('BEFORE');
        e.preventDefault();
    });

    Y.after('newmessage', function(e) {
        console.log('AFTER');
    });



    Y.showMessage('Trying to prevent', 'Eerste bericht', {
        imageButtons: true
    }).then(
        function(result) {
            console.log('Eerste bericht fulfilled '+result.button);
        },
        function(reason) {
            console.log('Eerste bericht rejected '+reason);
        }
    );


});
