YUI(yuiconfig).use('gallery-itsadialog', function(Y) {

    Y.alert('Y.alert', 'Some warning in action');

    Y.confirm('Y.confirm', 'do you agree?').then(
        function() {
            console.log('agreed');
        },
        function() {
            console.log('disagreed');
        }
    );

    Y.prompt('Y.prompt', 'Enter some input').then(
        function(response) {
            console.log(response.input);
        },
        function() {
            console.log('canceled');
        }
    );

});
