YUI(yuiconfig).use('node', 'gallery-itsaformmodel', 'gallery-itsacheckbox', 'slider', 'editor', 'gallery-itsaselectlist', 'gallery-popover', 'gallery-itsadialog', 'button', 'json-stringify', function(Y) {
    var model, container, containercontent;

    // adding skin sam to body for getting the right skin
    Y.one('body').addClass('yui3-skin-sam');
    new Y.Popover({
        selector: '[data-formelement][data-content]',
        width: 300
    }).render();

    Y.MyFormModel = Y.Base.create('formmodel', Y.ITSAFormModel, [], {}, {
        ATTRS: {
            text: {
                formtype: 'text',
                formconfig: {
                    label: 'This is a "text"-formtype',
                    placeholder: 'enter text',
                    tooltip: 'enter here your text',
                    tooltipPlacement: 'right'
                },
                validator: function(v) {return (typeof v==='string');}
            },
            number: {
                formtype: 'number',
                formconfig: {
                    label: 'This is a "number"-formtype',
                    tooltip: 'enter here a number between 0-100',
                    tooltipPlacement: 'right'
                },
                validator: function(v) {return ((typeof v==='number') && (v>=0) && (v<=100));}
            },
            floatednumber: {
                formtype: 'number',
                formconfig: {
                    digits: true,
                    label: 'This is a floated "number"-formtype',
                    tooltip: 'enter here your number',
                    tooltipPlacement: 'right'
                },
                validator: function(v) {return (typeof v==='number');}
            },
            password: {
                formtype: 'password',
                formconfig: {
                    placeholder: 'enter password',
                    label: 'This is a "password"-formtype',
                    tooltip: 'enter here your password',
                    tooltipPlacement: 'right'
                },
                validator: function(v) {return (typeof v==='string') && (v.length>=5) && (v.indexOf(' ')===-1);}
            },
            textarea: {
                formtype: 'textarea',
                formconfig: {
                    label: 'This is a "textarea"-formtype',
                    tooltip: 'enter here the textarea input',
                    tooltipPlacement: 'right'
                },
                validator: function(v) {return (typeof v==='string');}
            },
            checkbox: {
                formtype: 'checkbox',
                formconfig: {
                    label: 'This is a "checkbox"-formtype',
                    tooltip: 'enter here the checkbox value',
                    tooltipPlacement: 'right'
                },
                validator: function(v) {return (typeof v==='boolean');}
            },
            date: {
                formtype: 'date',
                formconfig: {
                    label: 'This is a "date"-formtype',
                    tooltip: 'enter here your date',
                    tooltipPlacement: 'right',
                    format: '%Y-%m-%d'
                },
                validator: function(v) {return Y.Lang.isDate(v);}
            },
            time: {
                formtype: 'time',
                formconfig: {
                    label: 'This is a "time"-formtype',
                    tooltip: 'enter here your time',
                    tooltipPlacement: 'right',
                    format: '%H:%M:%S'
                },
                validator: function(v) {return Y.Lang.isDate(v);}
            },
            datetime: {
                formtype: 'datetime',
                formconfig: {
                    label: 'This is a "datetime"-formtype',
                    tooltip: 'enter here your date and time',
                    tooltipPlacement: 'right',
                    format: '%Y-%m-%d %H:%M:%S'
                },
                validator: function(v) {return Y.Lang.isDate(v);}
            },
            email: {
                formtype: 'email',
                formconfig: {
                    label: 'This is a "email"-formtype',
                    tooltip: 'enter here your emailadress',
                    tooltipPlacement: 'right'
                },
                validator: function(v) {return (typeof v==='string');}
            },
            url: {
                formtype: 'url',
                formconfig: {
                    label: 'This is a "url"-formtype',
                    tooltip: 'enter here your url',
                    tooltipPlacement: 'right'
                },
                validator: function(v) {return (typeof v==='string');}
            },
            slider: {
                value: 5,
                formtype: Y.Slider,
                formconfig: {
                    label: 'This is a Y.Slider-formtype',
                    tooltip: 'slide to set value',
                    tooltipPlacement: 'right',
                    widgetconfig: {
                        min: 5,
                        max: 20
                    }
                },
                validator: function(v) {return (typeof v==='number');}
            },
            itsacheckbox: {
                value: true,
                formtype: Y.ITSACheckbox,
                formconfig: {
                    label: 'This is a Y.ITSACheckbox-formtype',
                    tooltip: 'click to set value',
                    tooltipPlacement: 'right'
                },
                validator: function(v) {return (typeof v==='boolean');}
            },
            itsaselectlist: {
                value: 2,
                formtype: Y.ITSASelectList,
                formconfig: {
                    label: 'This is a Y.ITSASelectList-formtype',
                    tooltip: 'select the Month',
                    tooltipPlacement: 'right',
                    widgetconfig: {
                        items: ['Januar', 'Februar', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                        buttonWidth: 200
                    }
                },
                validator: function(v) {return (typeof v==='number');}
            },
            togglebutton: {
                value: true,
                formtype: Y.ToggleButton,
                formconfig: {
                    label: 'This is a Y.ToggleButton-formtype',
                    tooltip: 'click to toggle',
                    tooltipPlacement: 'right',
                    widgetconfig: {
                        label: 'I can toggle'
//                        items: ['Januar', 'Februar', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
//                        buttonWidth: 200
                    }
                },
                validator: function(v) {return (typeof v==='boolean');}
            },
            editor: {
                value: '<strong>This is <em>a test</em></strong> This is <em>a test</em>',
                formtype: Y.EditorBase,
                formconfig: {
                    label: 'This is a Y.Editor-formtype',
                    tooltip: 'enter here the textarea input',
                    tooltipPlacement: 'right',
                    classname: 'editorclass'
                },
                validator: function(v) {return (typeof v==='string');}
            }
        }
    });

    datenow = new Date();
    model = new Y.MyFormModel({
        number: 25,
        floatednumber: 15,
        password: '',
        textarea: 'there is something here already',
        date: datenow,
        time: datenow,
        datetime: datenow,
        email: '',
        url: ''
    });

    container = Y.one('#container');
    containercontent = '<div class="pure-control-group">'+model.renderFormElement('text')+'</div>'+
                       '<div class="pure-control-group">'+model.renderFormElement('number')+'</div>'+
                       '<div class="pure-control-group">'+model.renderFormElement('floatednumber')+'</div>'+
                       '<div class="pure-control-group">'+model.renderFormElement('password')+'</div>'+
                       '<div class="pure-control-group">'+model.renderFormElement('textarea')+'</div>'+
                       '<div class="pure-controls">'+model.renderFormElement('checkbox')+'</div>'+
                       '<div class="pure-control-group">'+model.renderFormElement('date')+'</div>'+
                       '<div class="pure-control-group">'+model.renderFormElement('time')+'</div>'+
                       '<div class="pure-control-group">'+model.renderFormElement('datetime')+'</div>'+
                       '<div class="pure-control-group">'+model.renderFormElement('email')+'</div>'+
                       '<div class="pure-control-group">'+model.renderFormElement('url')+'</div>'+
                       '<div class="pure-control-group">'+model.renderFormElement('slider')+'</div>'+
                       '<div class="pure-control-group">'+model.renderFormElement('itsacheckbox')+'</div>'+
                       '<div class="pure-control-group">'+model.renderFormElement('itsaselectlist')+'</div>'+
                       '<div class="pure-control-group">'+model.renderFormElement('togglebutton')+'</div>'+
                       '<div class="pure-control-group">'+model.renderFormElement('editor')+'</div>'+
                       '<div class="pure-controls">'+model.renderSaveBtn('save values')+'</div>';
    container.append(containercontent);

    model.on('save', function() {
        Y.alert('model is saved! Here are all the attribute-values: '+Y.JSON.stringify(model.toJSON()).replace(/\,/g, '</br>'));
    });

    model.on('validationerror', function() {
        Y.alert('validation error');
    });

});
