YUI(yuiconfig).use('escape', 'model', 'gallery-itsaeditmodel', 'gallery-itsacheckbox', 'slider', 'json', function(Y) {
    var model, artist, artist2, country, country2, firstrelease, firstrelease2, records, records2, soldout, soldout2, container;
Y.one('body').addClass('yui3-skin-sam');

    Y.MyFormModel = Y.Base.create('pieModel', Y.ITSAEditModel, [], {}, {
        ATTRS: {
            artist: {
                formtype: 'number',
                formconfig: {
                    required: true,
                    digits: true,
                    disabled: false
                },
                validator: function(v) {return (typeof v==='number');}
            },
            country: {
                formtype: 'textarea',
                formconfig: {
                    required: true,
                    disabled: false
                },
                validator: function(v) {return (typeof v==='string');}
            },
            firstRelease: {
                formtype: 'date',
                formconfig: {
                    required: true,
                    format: '%Y-%m-%d'
                }
//                validator: function(v) {return (typeof v==='date');}
            },
            records: {
                value: 10,
                formtype: Y.Slider,
                formconfig: {
                    min: 5,
                    max: 20
                },
                validator: function(v) {return (typeof v==='number');}
            },
            soldOut: {
                value: true,
                formtype: Y.ITSACheckbox,
                validator: function(v) {return (typeof v==='boolean');}
            }
        }
    });

    model = new Y.MyFormModel({
        artist: 100,
        country: 'USA',
        firstRelease: new Date(1983, 1, 1),
//        records: 18,
        soldOut: true
    });

    artist = model.renderFormElement('artist');
    artist2 = model.renderFormElement('artist');
    country = model.renderFormElement('country');
    country2 = model.renderFormElement('country');
    firstrelease = model.renderFormElement('firstRelease');
    firstrelease2 = model.renderFormElement('firstRelease');
    records = model.renderFormElement('records');
    records2 = model.renderFormElement('records');
    soldout = model.renderFormElement('soldOut');
    soldout2 = model.renderFormElement('soldOut');

    container = Y.one('#examplecontainer');
    container.append(artist+'<br />');
    container.append(country+'<br />');
    container.append(firstrelease+'<br />');
    container.append(records+'<br />');
    container.append(soldout+'<br />');
    container.append(artist2+'<br />');
    container.append(country2+'<br />');
    container.append(firstrelease2+'<br />');
    container.append(records2+'<br />');
    container.append(soldout2+'<br />');
    container.append('<span class="comment">'+Y.Escape.html(artist)+'</span><br />');
    container.append('<span class="comment">'+Y.Escape.html(firstrelease)+'</span><br />');
    container.append('<span class="comment">'+Y.Escape.html(soldout)+'</span><br />');

    model.on('save', function() {
        container.append('<span class="comment">model is saved (save-event occured)</edit>');
    });

    model.on('*:destroy', function() {
        container.append('<span class="comment">model is destroyed (destroy-event occured)</edit>');
    });

    model.on('*:submit', function() {
        container.append('<span class="comment">model is submitted (submit-event occured)</edit>');
    });

    model.after('saveclick', function(e) {
        container.append('<span class="comment">model:saveclick event occured</edit>');
    });

    model.after('destroyclick', function(e) {
        container.append('<span class="comment">model:destroyclick event occured</edit>');
    });

    model.after('submitclick', function(e) {
        container.append('<span class="comment">model:submitclick event occured</edit>');
    });

    Y.later(
        500,
        null,
        function() {
            var cont = Y.one('#container');
            cont.set('text',Y.JSON.stringify(model.toJSON()));
   //         model.setAttrs({artist: 'Queen', records: 12, soldOut: false, firstRelease: new Date(2013, 5, 5)});
        },
        null,
        true
    );




});
