YUI(yuiconfig).use('gallery-itsastorage', 'gallery-itsadialog', function(Y) {

    Y.ITSAStorage.setItem('name', 'Marco Asbreuk');

console.log(Y.ITSAStorage);
console.log(Y.ITSAStorage.data);

    Y.ITSAStorage.getItem('name').then(
        function(response) {
            Y.showMessage('response of name: '+response);
        },
        function(reason) {
            Y.showError('getItem failed: '+reason);
        }
    ).then(
        function() {
            Y.ITSAStorage.clear().then(
                function(response) {
                    Y.showMessage('emptied the storage');
                },
                function(reason) {
                    Y.showError('emptying storage failed: '+reason);
                }
            );
        }
    );

});
