YUI(yuiconfig).use('gallery-itsaformmodel', 'gallery-itsaviewmodelpanel', 'slider', 'gallerycss-itsa-base', 'gallerycss-itsa-form', function(Y) {
    var view, artist, template, footertemplate;

    // adding skin sam to body for getting the right skin for the widgets
    Y.one('body').addClass('yui3-skin-sam');

    // create MyFormModelClass
    Y.ArtistModel = Y.Base.create('formmodel', Y.ITSAFormModel, [], null, {
        ATTRS: {
            name: {
                formtype: 'text',
                formconfig: {
                    label: 'Artist',
                    placeholder: 'artist',
                    required: true
                }
            },
            country: {
                formtype: 'text',
                formconfig: {
                    label: 'Country',
                    placeholder: 'country',
                    required: true,
                    initialfocus: true
                }
            },
            firstalbum: {
                formtype: 'text',
                formconfig: {
                    label: 'First album',
                    placeholder: 'first album',
                    required: true
                }
            },
            release: {
                formtype: Y.Slider,
                formconfig: {
                    label: 'Releaseyear',
                    widgetconfig: {
                        min: 1950,
                        max: 2010
                    }
                }
            }
        }
    });

    artist = new Y.ArtistModel({
        name: 'U2',
        country: 'Ireland',
        firstalbum: 'Boy',
        release: 1980
    });
    artist.setLifeUpdate(true);

    template = '<fieldset>'+
                    '<legend>Editable template</legend>'+
                    '<div class="pure-control-group">{name}</div>'+
                    '<div class="pure-control-group">{country}</div>'+
                    '<div class="pure-control-group">{firstalbum}</div>'+
                    '<div class="pure-control-group">{release}</div>';
                '</fieldset>';

    footertemplate = '{btn_reset} {spinbtn_submit}';

    view = new Y.ITSAViewModelPanel({
        container: '#viewcont',
        model: artist,
        template: template,
        footerTemplate: footertemplate,
        centered: true,
        dragable: true,
        editable: true,
        width: 375
    });

    view.render();
    view.show();

    view.on('buttonclick', function(e) {
        console.log('buttonclick');
    });


    view.after('modelsubmit', function(e) {
     //   Y.alert('Values are submitted', 'Here are all the attribute-values: '+Y.JSON.stringify(e.target.toJSON()).replace(/\,/g, '</br>'));
    });

    view.on('validationerror', function(e) {
        Y.alert('error', 'validation error');
    });
});