YUI(yuiconfig).use('gallery-itsadialog', function(Y) {

    Y.on('queuedmessage', function(e) {
        console.log('BEFORE');
    });

    Y.after('queuedmessage', function(e) {
        console.log('Message is removed from queue by button: ' + e.itsamessage.get('button'));
    });

    Y.confirm('Question:', 'Did you read this message?', {
        imageButtons: true
    });

});
