YUI(yuiconfig).use('gallery-itsadialog', function(Y) {

    Y.on('newmessage', function(e) {
        console.log('prevent message from added to the queue');
        e.preventDefault();
    });

    Y.showMessage('Prevented message', 'This message should never occur', {
        imageButtons: true
    });

});
