<div class="intro">
    <p>
       {{description}}
   </p>
</div>

{{>destroy-model-html}}

</p>

<h2>Complete Example Source</h2>
```
<body>

{{>destroy-model-html}}

{{>destroy-model-js}}

</body>
```
<script>
{{>init-loaderconfig-js}}
{{>loaderconfig-js}}
{{>destroy-model-js}}
</script>