YUI(yuiconfig).use('gallery-itsaopenstreetmap', 'gallery-itsamapmarker', function(Y) {
    var clicktracemap, marker, markerlist;

    followNr = 1;

    marker = {
        markerid: '31624321690',
        markerHTML: followNr,
        title: 'De Bob',
        lat: 52.80,
        lon: 4.78,
        position: 'position',
        size: 1,
        gmt: 'gmt',
        battery: 'battery',
        accu: 'accu',
        gsm: 'signal',
        speed: 'speed',
        md1: 'md1',
        md2: 'md2',
        status: 'devicestatus',
//        markerColorClass: 'red',
//        markerSize: 'extralarge',
        markerHeaderTemplate: '{title}',
        markerBodyTemplate: 'Mob:&nbsp;{markerid}',
        markerFooterTemplate: '{status}',
        markerDetailsClosable: false,
        distance: 'distance'
    };

    marker2 = {
        markerid: '31630730112',
        markerHTML: '23',
        title: 'devicename Marco',
        lat: 54.83,
        lon: 4.88,
        position: 'position',
        size: 1,
        gmt: 'gmt',
        battery: 'battery',
        accu: 'accu',
        gsm: 'signal',
        speed: 'speed',
        md1: 'md1',
        md2: 'md2',
        status: 'devicestatus',
        markerHeaderTemplate: 'header',
        markerBodyTemplate: 'body',
        markerFooterTemplate: 'footer',
//        markerDetailsClosable: true,
        distance: 'distance'
    };

    markerlist = new Y.LazyModelList({items: [marker, marker2]});
    markerlist.model = Y.ITSAMarkerModel;

    clicktracemap = new Y.ITSAOpenStreetMap({
        boundingBox:'#mymap'
    });
    clicktracemap.plug(Y.Plugin.ITSAMapMarker, {markers: markerlist, markerDetailsClosable: false});
    clicktracemap.render();

    clicktracemap.itsamapmarker.markersInView({zoomin: 16, continuous: true});


    Y.later(1000, null, function() {
        clicktracemap.itsamapmarker.showPopup(marker);
        clicktracemap.itsamapmarker.showPopup(marker2);
    });

    Y.later(3000, null, function() {
        var m1 = markerlist.revive(0);
        m1.set('lon', 20);
//marker.title='OHOH';
//clicktracemap.itsamapmarker.syncMarker(marker);
        //clicktracemap.itsamapmarker.hidePopup(marker);
    });

});
