YUI(yuiconfig).use('gallery-itsaopenstreetmap', 'gallery-itsamapmarker', function(Y) {
    var clicktracemap, marker, markerlist;

    clicktracemap = new Y.ITSAOpenStreetMap({
        boundingBox:'#mymap'
    });
    clicktracemap.render();

    followNr = 1;

    marker = {
        markerid: '31624321690',
        markerHTML: followNr,
        title: 'devicename',
        lat: 52.80,
        lon: 4.78,
        position: 'position',
        size: 1,
        gmt: 'gmt',
        battery: 'battery',
        accu: 'accu',
        gsm: 'signal',
        speed: 'speed',
        md1: 'md1',
        md2: 'md2',
        status: 'devicestatus',
        distance: 'distance',
        markerColorClass: 'red',
        markerSize: 'extralarge'
    };

    marker2 = {
        markerid: '31630730112',
        markerHTML: '23',
        title: 'devicename Marco',
        lat: 52.83,
        lon: 4.78,
        position: 'position',
        size: 1,
        gmt: 'gmt',
        battery: 'battery',
        accu: 'accu',
        gsm: 'signal',
        speed: 'speed',
        md1: 'md1',
        md2: 'md2',
        status: 'devicestatus',
        distance: 'distance'
    };

    markerlist = new Y.LazyModelList({items: [marker, marker2]});
    markerlist.model = Y.ITSAMarkerModel;

    clicktracemap.plug(Y.Plugin.ITSAMapMarker, {markers: markerlist, markerColorClass: 'blue', markerSize: 'small'});

    Y.later(1000, null, function() {
        clicktracemap.itsamapmarker.markerOnTop(marker);
    });

    Y.later(2000, null, function() {
        clicktracemap.itsamapmarker.markerRestoreZ(marker);
    });

});
