<style type="text/css">
{{>widgets-css}}
</style>

<div class="intro">
    <p>
        {{description}}
    </p>
    <p>
        Y.batch is used to make the containerdiv -that holds the widgets- visible, once all widgets are rendered.<br />
        This can be usefull when you have a form with several widgets and want to show it all together.
    </p>
</div>

{{>widgets-html}}

<h2>Complete Example Source</h2>
```
<style type="text/css">
{{>widgets-css}}
</style>

<body>

{{>widgets-html}}

<script>
{{>widgets-js}}
</script>

</body>
```

<script>
{{>init-loaderconfig-js}}
{{>loaderconfig-js}}
{{>widgets-js}}
</script>